body{
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;

}

.top{
    background-color: #80ffdb;
    padding-top: 100px;

}

h1{
  color: #28527a;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
}
h2{
  color:  #28527a;
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: normal;
}
.bottomcloud{
  position: absolute;
  left:350px;
  bottom: 400px;
}
.topcloud{
  position: absolute;
  right:300px;
  top:50px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line height: 2;
}
.proimg{
  width:25%;
  float:left;
  margin-right: 30px;
}
.codeimg{
  width:25%;
  float:right;
  position: relative;
  margin-right: 30px;
  bottom: 50px;
}
